@import "../bourbon/bourbon";
@import "build";

@mixin background-size($c) {
		background-size: #{$c};
	-webkit-background-size: #{$c};
}

$oleo: 'Oleo Script', cursive;
$burger: #603008;
$purple: #617EE8;

* {
	margin: 0;
	padding: 0;
	@include box-sizing(border-box);
}

body {
	background: url(../images/avocado.jpg);
//	background: url("../images/radial.jpg");
	font-family: sans-serif;
	@include background-size(cover !important);
//	@include transition(all 1.6s linear);
	font-size: 14px;
	padding-top: 60px;
	padding-bottom: 30px;
	color: $burger;

	&.catering {
		background: url(../images/truckbg.png);
	}
	&.menu {
		background: url(../images/menu.jpg);
	}
	&.story {
		background: url(../images/dudes.jpg);
	}
	&.catering { 
		background: url(../images/egg.jpg);
	}
}

#preloader {
	height: 0;
	width: 0;
	overflow: hidden;
	background: url(../images/dudes.jpg), url(../images/menu.jpg), url(../images/truckbg.png), url(../images/avocado.jpg), url(../images/egg.jpg), url(../images/dudes.jpg);
}

.burger-being-eaten { 
	display: block;
	width: 960px;
	height: 241px;
	background: url("../images/mainelysprite.png") no-repeat 0 2px;
	font-size: 0px;
	text-indent: -999px;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -480px;
	
	&.bite1 {background-position: 0px -239px;}
	&.bite2 {background-position: 0px -480px;}
	&.bite3 {background-position: 0px -720px;}
	&.bite4 {background-position: 0px -965px;}
	&.bite5 {background-position: 0px -1216px;}
	&.bite6 {background-position: 0px -1462px;}

}

h1 {
	font-size: 4em;
	font-family: 'Open Sans', sans-serif;
}

p {
	line-height: 1.7;
	padding: 15px;
	text-indent: 20px;
}

a { color: $purple;}

.wrap {
	display: none;
	margin: 0 auto;
	width: 960px;
	position: relative;
	background: #FFFBED;
	background: rgba(255,255,255,.67);
	padding: 10px 25px;
//	@include box-shadow(0px 0px 6px #aaa);

	&.main-page {
		background: url("../images/logo_big.png") no-repeat 50% 200px rgba(255,255,255,.5);
		height: 660px;
		display: block;
		z-index: -10;
		@include animation(slide 1.2s linear);
		h1 { 
			color: $burger;
			text-align: center;
			padding-top: 0px;
			width: 800px;
			display: block;
			margin: auto;
		}
	}
}

#menu {
	h2 {
		font-family:$oleo;
		font-size: 1.8em;
		border-bottom: 1px solid $burger;
		margin-bottom: 10px;
	}
}
dt {
		padding: 5px 7px;
		font-size: 1.1em;
		text-decoration: underline;
}

dd {
	text-indent: 2em;
	padding: 5px 0;
}

@-moz-keyframes slide {
	from {
		margin-top: -1111px;
	}
	to {
		margin-top: 0;
	}
}
@keyframes slide {
	from {
		margin-top: -1111px;
	}
	to {
		margin-top: 0;
	}
}
@-webkit-keyframes slide {
	from {
		margin-top: -1111px;
	}
	to {
		margin-top: 0;
	}
}

nav {
	display: block;
	background: rgb(255,252,244); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,252,244,1) 0%, rgba(252,239,169,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,252,244,1)), color-stop(100%,rgba(252,239,169,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,252,244,1) 0%,rgba(252,239,169,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,252,244,1) 0%,rgba(252,239,169,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,252,244,1) 0%,rgba(252,239,169,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,252,244,1) 0%,rgba(252,239,169,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcf4', endColorstr='#fcefa9',GradientType=0 ); /* IE6-9 */

	top: 0;
	width: 100%;
	position: fixed;
	@include box-shadow(0px 1px 3px #666);
	z-index: 11;


//&:after {
//	pointer-events: none;
//	position: absolute;
//	top: 0;
//	left: 0;
//	width: 100%;
//	height: 100%;
//	content: "";
//	background: url("../images/bedge_grunge.png");
//	opacity: .4;
//	-moz-opacity: .4;
//	-webkit-opacity: .4;
//	-ms-opacity: .4;
//	-o-opacity: .4;
//	z-index: -111;
//}

	
	ul {
		display: block;
		width: 960px;
		margin: 0 auto;
		

		li {
			display: inline-block;
			padding: 0px 7px;
			padding: 7px 0;
			line-height: 40px;
			width: 16%;

			a {
				text-align: center;
				@include transition(color .2s ease-in-out);
				display: block;
				border-left: 1px solid transparent;
				border-right: 1px solid transparent;
				@include border-radius(4px);
				height: 40px;
				padding: 0 10px;
				font-family: $oleo;
				font-size: 1.5em;
				text-decoration: none;
				color: $burger;
				width: 100%;

				&:hover, &.selected {
					text-decoration: underline;
					border-left: 1px solid $burger;
					border-right: 1px solid $burger;
				}
			}
		}
	}
}

input, textarea {
	display: block;
	outline: none;
	margin: 10px;
	border: none;
	width: 50%;
	padding: 8px 10px;
	border: 1px solid #ddd;
}

textarea {
	width: 70%;
	min-height: 200px;
	max-width: 100%;
}

#footer { text-shadow: 0px -1px 0px #313131; color: #eee;}

#findus {
	left: 50%;
	bottom: 0;
	width: 300px;
	margin-left: -480px;
	height: 40px;
	padding: 10px 25px;
	overflow: hidden;
	@include transition(all 1s ease-in-out);
	@include box-shadow(0px 0px 4px $burger);
	@include border-radius(3px 3px 0 0);
	background: rgba(255,255,255,.8);
	cursor: pointer;

	&:hover h2 { text-decoration: underline; }

	&.expanded {
		height: auto;
	}
}

button {
	display: block;
	padding: 5px 8px;
	border: 1px solid #ccc;
	background: rgba(231,146,78,.9);
	color: $burger;
}