@import "../bourbon/bourbon";
@import "build";

@mixin background-size($c) {
		background-size: #{$c};
	-webkit-background-size: #{$c};
}

$burger: #603008;
$purple: #617EE8;

@font-face {
    font-family: 'copasetic';
    src: url('../copacetic/copasetic.regular-webfont.eot');
    src: url('../copacetic/copasetic.regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../copacetic/copasetic.regular-webfont.woff') format('woff'),
         url('../copacetic/copasetic.regular-webfont.ttf') format('truetype'),
         url('../copacetic/copasetic.regular-webfont.svg#copasetic_nfregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	@include box-sizing(border-box);
}

body {
	background: url(../images/maintruck.jpg);
//	background: url("../images/radial.jpg");
	font-family: sans-serif;
	@include background-size(cover !important);
//	@include transition(all 1.6s linear);
	font-size: 14px;
	padding-top: 60px;
	padding-bottom: 30px;
	color: $burger;

	&.home { #footer { display: none;} }

	&.menu {
		background: url(../images/onions.jpg);
	}
	&.story {
		background: url(../images/dudes.jpg);
	}
	&.catering { 
		background: url(../images/egg.jpg);
	}
	&.findus { 
		background: url(../images/bg2.jpg);
	}
}

#preloader {
	height: 0;
	width: 0;
	overflow: hidden;
	background: url(../images/maintruck.jpg), url(../images/gourmet.jpg), url(../images/truckbg.png), url(../images/onions.jpg), url(../images/egg.jpg), url(../images/dudes.jpg);
}

#findus { background: none; }

h1 {
	font-size: 4em;
	color: $burger;
	font-family: 'copasetic';
	padding: 10px;

	span.o { font-family: 'Open Sans', sans-serif; }
}

p {
	line-height: 1.7;
	padding: 15px;

	img { 
		max-width: 100%;
		margin: 15px 0;
		@include box-shadow(0px 0px 10px #aaa);
	}
}

a { color: $purple;}

.wrap {
	display: none;
	margin: 20px auto;
	width: 960px;
	position: relative;
	background: #FFFBED;
	background: rgba(255,255,255,.85);
	padding: 10px 25px;
}

address, .nice-dialog {
	display: block;
	@include box-shadow(0px 1px 3px #DDC766, inset 0px 0px 1px #fff);
	margin-top: 50px;
	line-height: 1.6;
	background: #fff;
	position: relative;

	&:before {
		background: rgb(255,252,244); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(255,252,244,1) 0%, rgba(252,239,169,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,252,244,1)), color-stop(100%,rgba(252,239,169,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,252,244,1) 0%,rgba(252,239,169,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,252,244,1) 0%,rgba(252,239,169,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,252,244,1) 0%,rgba(252,239,169,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,252,244,1) 0%,rgba(252,239,169,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcf4', endColorstr='#fcefa9',GradientType=0 ); /* IE6-9 */
		position: absolute;
		@include box-shadow(0px 1px 3px #DDC766, inset 0px 0px 1px #fff);

		border-bottom: none;
		top: -32px;
		font-size: 1.4em;
		left: 0px;
		content: attr(data-title);
		text-align: center;
		font-style: none;
		width: 100%;
	}
}

#menu {
	h2 {
		font-size: 1.8em;
		border-bottom: 1px solid $burger;
		margin-bottom: 10px;
	}
}
dt {
		padding: 5px 7px;
		font-size: 1.1em;
		text-decoration: underline;
}

dd {
	padding: 5px 0;
	margin-left: 8px;
	line-height: 1.5
}

@-moz-keyframes slide {
	from {
		margin-top: -1111px;
	}
	to {
		margin-top: 0;
	}
}
@keyframes slide {
	from {
		margin-top: -1111px;
	}
	to {
		margin-top: 0;
	}
}
@-webkit-keyframes slide {
	from {
		margin-top: -1111px;
	}
	to {
		margin-top: 0;
	}
}

nav {
	display: block;
	background: rgb(255,252,244); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,252,244,1) 0%, rgba(252,239,169,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,252,244,1)), color-stop(100%,rgba(252,239,169,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,252,244,1) 0%,rgba(252,239,169,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,252,244,1) 0%,rgba(252,239,169,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,252,244,1) 0%,rgba(252,239,169,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,252,244,1) 0%,rgba(252,239,169,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcf4', endColorstr='#fcefa9',GradientType=0 ); /* IE6-9 */
	top: 0;
	width: 100%;
	position: absolute;
	@include box-shadow(0px 1px 3px #666);
	z-index: 11;

	ul {
		display: block;
		width: 960px;
		margin: 0 auto;
		position: relative;
		padding-left: 160px !important;
		height: 70px;

		&:before {
			content: '';
			margin: 0;
			padding: 0 10px;
			line-height: 0px;
			height: 66px;
			background: url(../images/logo_small.png) no-repeat center 3px;
			width: 130px;
			display: block;
			position: absolute;
			left: 0px;
		}

		li.social-media {
			margin-left: 10px;
			width: 54px;
			height: 52px;
			background: url(../images/twitter.png) 0 -54px no-repeat;
			text-indent: -999px;
			overflow: hidden;

			a:hover { 
				background: none; 
				@include box-shadow(none);
			}

			&:hover {
				background-position: 0px -2px;
			}

			&.fb {
				background: url(../images/FB.png) 0 -54px no-repeat;
				&:hover {
				background-position: 0px -2px;
			}
			}
		}
		

		li {
			display: inline-block;
			padding: 7px 0;
			line-height: 37px;
			margin-top: 10px;


			a {
				text-align: center;
				@include transition(all .2s ease-in-out);
				display: block;
				border-left: 1px solid transparent;
				border-right: 1px solid transparent;
				@include border-radius(4px);
				height: 40px;
				padding: 0 10px;
				font-family: 'Open Sans', sans-serif;
				font-size: 1.5em;
				text-decoration: none;
				color: $burger;
				width: 100%;

				&:hover, &.selected {
					text-decoration: underline;
					background: rgb(255,255,255); /* Old browsers */
					background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,248,219,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,248,219,1))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,248,219,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,248,219,1) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,248,219,1) 100%); /* IE10+ */
					background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,248,219,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff8db',GradientType=0 ); /* IE6-9 */
					@include box-shadow(0px 1px 3px #DDC766, inset 0px 0px 1px #fff);

				}
			}
		}
	}
}

.head {
		text-shadow: 0px 1px 0px #fff;
		background: rgb(255,252,244); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(255,252,244,1) 0%, rgba(252,239,169,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,252,244,1)), color-stop(100%,rgba(252,239,169,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,252,244,1) 0%,rgba(252,239,169,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,252,244,1) 0%,rgba(252,239,169,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,252,244,1) 0%,rgba(252,239,169,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,252,244,1) 0%,rgba(252,239,169,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcf4', endColorstr='#fcefa9',GradientType=0 ); /* IE6-9 */
		margin-left: 15px;
		border-bottom: 1px solid #ccc;
		@include border-radius(3px 3px 0 0);
		@include box-shadow(0px 1px 3px #DDC766, inset 0px 0px 1px #fff);
	}

.story-box {
	
	h2 { font-size: 1.7em; }
	h2, h3 {
		padding: 5px 0;
		margin-left: 15px;
	}

	p { padding-left: 25px; }

	.button {
		margin: 0 0 20px 30px;
	}
}

input, textarea {
	display: block;
	outline: none;
	margin: 10px;
	border: none;
	width: 70%;
	padding: 8px 10px;
	border: 1px solid #ddd;

	&:focus {
		border-color: #bbb;

	}
}

textarea {
	width: 90%;
	min-height: 200px;
	max-width: 100%;
}

#footer { text-shadow: 0px -1px 0px #313131; color: #eee;}


button, .button {
	display: block;
	border: none;
	outline: none;
	@include box-shadow(0px 1px 3px #DDC766, inset 0px 0px 1px #fff);
	background: rgba(231,146,78,.9);
	color: $burger;
	background: rgb(255,252,244); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,252,244,1) 0%, rgba(252,239,169,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,252,244,1)), color-stop(100%,rgba(252,239,169,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,252,244,1) 0%,rgba(252,239,169,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,252,244,1) 0%,rgba(252,239,169,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,252,244,1) 0%,rgba(252,239,169,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,252,244,1) 0%,rgba(252,239,169,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcf4', endColorstr='#fcefa9',GradientType=0 ); /* IE6-9 */
	font-size: 1.2em;
	font-family: 'Open Sans',sans-serif;
	cursor: pointer;
	padding: 0px 25px;
	min-height: 30px;
	line-height: 30px;
	display: inline-block;

	&#submit {
		margin: 0 46px 0 0;	
	}

	&:hover {
		background: rgb(252,239,169);
	}
	&:active {
		background: #F9E284;
	}
}
